.grid-pane {
    -fx-background-color: #2B2D30
}

.grid-button {
    -fx-font-size: 20px;
    -fx-shadow-highlight-color: none;
    -fx-outer-border: none;
    -fx-inner-border: none;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: #FFFFFF
}

.pink-cell {
    -fx-background-color: #FF9396
}

.empty-cell {
    -fx-text-fill: transparent;
    -fx-background-color: #BBBBBB
}

.label {
    -fx-font-size: 18px;
    -fx-padding: 8px;
}

.label-title {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498db; /* Choose your desired text color */
}

.success {
    -fx-opacity: 100%;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #78DE1E
}